<main style="padding:24px">

  <h1>Socialte API Demo</h1>

  <h2>Posts {{this.model.posts.length}}</h2>

  <p>Querying posts and returning associated tags</p>

  <ul>
    {{#each this.model.posts as |post|}}
      <li>
        {{post.title}}:
        {{#each post.tags as |tag|}}
          [{{tag.name}}]
        {{/each}}
        {{#if post.favourites.firstObject.id}}
          <button
            type="button"
            {{on "click" (fn this.unfavourite post.favourites.firstObject)}}
          >-</button>
        {{else}}
          <button
            type="button"
            {{on "click" (fn this.favourite post)}}
          >+</button>
        {{/if}}
      </li>
    {{/each}}
  </ul>

  <form {{on "submit" (fn this.addPost this.postTitle)}} novalidate>
    <Input @value={{this.postTitle}} placeholder="Post Title" />
    <button type="submit">Add Post</button>
  </form>

  <h2>Pages {{this.model.pages.length}}</h2>

  <p>Querying pages and returning associated tags</p>

  <ul>
    {{#each this.model.pages as |page|}}
      <li>
        {{page.title}}:
        {{#each page.tags as |tag|}}
          [{{tag.name}}]
        {{/each}}
        {{#if page.favourites.length}}
          <button
            type="button"
            {{on "click" (fn this.unfavourite page.favourites.firstObject)}}
          >-</button>
        {{else}}
          <button
            type="button"
            {{on "click" (fn this.favourite page)}}
          >+</button>
        {{/if}}
      </li>
    {{/each}}
  </ul>

  <form {{on "submit" (fn this.addPage this.pageTitle)}} novalidate>
    <Input @value={{this.pageTitle}} placeholder="Page Title" />
    <button type="submit">Add Page</button>
  </form>

  <h2>Favourites {{this.model.favourites.length}}</h2>

  <p>Querying favourites and returning associated pages and tags</p>

  <ul>
    {{#each this.model.favourites as |favourite|}}
      <li>
        {{favourite.documents.firstObject.title}}:
        {{#each favourite.documents.firstObject.tags as |tag|}}
          [{{tag.name}}]
        {{/each}}
      </li>
    {{/each}}
  </ul>

  <h2>Likes {{this.model.likes.length}}</h2>

  <p>Querying likes and returning associated pages and tags</p>

  <ul>
    {{#each this.model.likes as |like|}}
      <li>
        {{like.documents.firstObject.title}}:
        {{#each like.documents.firstObject.tags as |tag|}}
          [{{tag.name}}]
        {{/each}}
      </li>
    {{/each}}
  </ul>

  <h2>Health Targets {{this.model.healthTargets.length}}</h2>

  <p>Querying healthTargets and returning associated user</p>

  <ul>
    {{#each this.model.healthTargets as |target|}}
      <li>
        {{target.metadata.metric}}:
        {{target.value}}
        for
        {{target.user.firstName}}
        {{target.user.lastName}}
      </li>
    {{/each}}
  </ul>
</main>